/* Apply a gradient background from white to a lighter purple, not repeating */
body {
    background: linear-gradient(to bottom, white 65%, #ddb7ff);
    font-family: Calibri, sans-serif;
    color: black;
    margin: 0;
    padding: 0;
    background-attachment: fixed; /* Ensures the gradient doesn't repeat */
}

/* Style the header */
.header {
    padding: 20px;
}

.header h1 {
    margin: 0;
    font-size: 24px;
    color: #3f3f3f; /* Dark grey color for better readability */
    text-align: left; /* Align the header to the left */
}

/* Style the main content area */
.main {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the left */
    padding: 20px;
}

/* Style the textarea */
#emailInput {
    width: 100%;
    height: 125px;
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
    font-family: Calibri, sans-serif;
    font-size: 16px; /* Updated font size */
    color: black;
}

/* Style the button */
#button {
    background-color: #b684df; /* Light purple color */
    color: white;
    font-family: 'Segoe UI', sans-serif;
    font-size: 14px;
    font-weight: bold; /* Make the font bold */
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    align-self: flex-start; /* Align button to the left */
}

/* Add hover effect to the button */
#button:hover {
    background-color: #6b1780; /* Slightly darker shade of the button color */
}
